<p class="text-center login-page-title">
	藏宝湾
</p>
<div class="login-wrap form-horizontal">
	<p class="text-center login-title">
		信息公证系统登录
	</p>
  <hr></hr>
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
	<div class="form-group">
		<label class="login_label control-label" for="staff_email">账号</label>
    <input class="login_input" autofocus="autofocus" value="" name="staff[email]" id="staff_email" type="email">
	</div>
	<div class="form-group">
		<label class="login_label control-label" for="staff_password">密码</label>
    <input class="password optional login_input" name="staff[password]" id="staff_password" type="password">
	</div>
  <input type="submit" class="login_button" value="登录" name="commit">
	<% end %>
	<!--form class="form-inline">

	<p class="form-title-wrap">
	<span class="form-title">公证相关</span>
	</p>
	<div class="form-block">
	<p>
	学历情况
	</p>

	<div class="form-group">
	<label for="exampleInputName2">学历类型</label>
	<select class="form-control">
	<option>博士</option>
	<option>研究所</option>
	<option>本科</option>
	<option>专科</option>
	<option>高中</option>
	</select>
	</div>
	<div class="form-group">
	<label for="exampleInputEmail2">毕业院校及时间</label>
	<input type="text" class="form-control" id="exampleInputEmail2" placeholder="毕业院校">
	<input type="text" class="form-control"  placeholder="毕业时间">
	</div>
	<div class="form-group">
	<p class="form-control">

	</p>
	<input type="button" class="form-control"  value="上传扫描件">
	</div>
	</div>

	<div class="form-block">
	<p>
	有无犯罪纪录
	</p>
	<div class="form-group">
	<label class="radio-inline">
	<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
	</label>
	<label class="radio-inline">
	<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
	</label>
	</div>
	</div>
	</form-->
