<p class="text-center login-page-title">
	公证信息开放平台
</p>
<div class="login-wrap form-horizontal">
	<p class="text-center login-title">
		内部系统登陆
	</p>
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
	<div class="form-group">
		<label class="col-xs-2 control-label" for="staff_email">邮箱</label>
		<div class="col-xs-10">
			<input class="string email optional form-control" autofocus="autofocus" value="" name="staff[email]" id="staff_email" type="email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label" for="staff_password">密码</label>
		<div class="col-xs-10">
			<input class="password optional form-control col-xs-10" name="staff[password]" id="staff_password" type="password">
		</div>
	</div>
	<div class="form-actions text-center">
		<input type="submit" class="btn btn-danger btn-block" value="登录" name="commit">
	</div>
	<% end %>
