@mixin horizontal_align ($value, $display_block: false) {
  margin: 0 auto;
  width: $value;
  @if $display_block{ display: block; }
}

@mixin basic_edit_form {
  padding-top: $property_subtitle_padding_top;
  padding-bottom: $property_subtitle_padding_bottom;
  margin-top: $main_title_margin_top;
  @include border_top;
}

@mixin border_bottom {
  border-bottom: solid 1px $main_hr_color;
}

@mixin border_top{
  border-top: solid 1px $main_hr_color;
}

@mixin title_before_container ($margin-top: 0, $margin-bottom: 0) {
  width: 144px;
  height: 31px;
  font-size: 24px;
  color: #6f6f6f;
  @include horizontal_align(144px);
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}

@mixin title_line ($padding-bottom: 10px) {
  padding-bottom: $padding-bottom;
  @include border_bottom
}

@mixin file_upload ($margin-top: 10px) {

  position: relative;
  overflow: hidden;
  margin: $margin-top 0 0 0;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  &-right {
    margin-left: 5%;
    //@extend .file-upload;
  }

}

