// for md
$new_profile_form_margin: 156px;
$new_profile_input_container_padding_left: 89px;
$new_profile_input_container_padding_right: 101px;
$new_profile_input_container_padding: 20.1px;
$new_profile_button_list_margin_top: 85.9px;


// for xs
$new_profile_form_margin_xs: 106px;
