
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/autocomplete";

@import "daterangepicker";
@import "bootstrap-datepicker";
@import '*';


.input-group {
  display: inline-table;

}

.first-row {
  margin-top: 23px !important;
}

.form-inputs > .row {
  margin-top: 39px;
}

.form-with-border > .row:not(:last-of-type) {
  margin-top: 39px;
}
