.body-user-not-login {
  background: asset_url('homepage.jpeg');
}

.container-logined {
  background-color: #DFE9F9;
}

.user-header {
  background-color: #3D639E;
}

.new_user {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

html, body, #full-height {
  min-height: 100% !important;
  height: 100%;
}

#full-height {
  width: 250px;
}

.body-user-logined {
  height: 100vh;
  min-height: 100vh;
  background-color:#dfe9f9;
}
