// Place all the styles related to the archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-wrap .control-label {
  text-align: left;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-row {
  @extend .vertical-align;
  @extend .row;
}


.page-button-link {
  /* BG: */
  background: #F8FAFA;
  border: 1px solid #1EBAD9;
  border-radius: 3px;
  /* 8:30:8:30: */
  font-family: STXihei;
  font-size: 14px;
  color: #18ACD1;
  line-height: 14px;

  &:hover, &:visited, &:active, &:link {
    background: #F8FAFA;
    border: 1px solid #1EBAD9;
    color: #18ACD1;
  }

  @extend .btn-default;
  @extend .btn;
}

.page-button-link-right {
  @extend .page-button-link;
  @extend .pull-right;
}

.button-right {
  @extend .pull-right;
  @extend .btn-default;
  @extend .btn;
}

div.col-xs-3 img {
  margin-bottom: 15px;
}

.add_fields {
  margin: 20px 20px 0 20px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 0;


  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  &-right {
    margin-left: 5%;
    @extend .file-upload;
  }

}

.remove-link {
  /* BG: */
  display: none;
}

.label-error {
  color: #a94442;
}

/* Rectangle 278: */
.button-submit {
  background: #C4DAEB;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.50);
  border-radius: 3px;
}

.button-return {
  /* Rectangle 278 Copy: */
  background: #C5EBC4;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;
}

table {
  th, td {
    text-align: center;
    vertical-align: middle !important;
  }
}

.input-group {
  display: inline-table;

}

.first-row {
  margin-top: 23px !important;
}


.form-with-border > .row:not(:last-of-type) {
  margin-top: 39px;
}