// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard_container {

  .search_profile_title {
    @extend .fix_in_center;
    @extend .text-center;
    margin-top: 70px;
    margin-bottom: 55px;
    width: 144px;
    height: 31px;
    font-size: 24px;
    color: #6f6f6f;
  }

  .search_profile_form {
    margin-left: auto;
    @extend .fix_in_center;
  }

  .search_profile_btn {
    @extend .fix_in_center;
  }

  .block_list {
    @extend .fix_in_center;

    .dashboard-block {
      width: 160px;
      height: 160px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px rgba(63, 162, 230, 0.5);
      display: inline-block;

      img {
        margin: 26px 42px 0px 46px;

        :not(:first) {
          margin-right: 80px;
        }

      }

    }

  }


  .fix_in_center {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.click-disabled {
  pointer-events: none;
}


/* 搜索 copy: */
#search-button-text {

}

#record-number-info {
  font-family: STXihei;
  font-size: 16px;
  line-height: 20px;
}

/* 搜索公证居民: */
#dashboard-search-title {
  font-family: STXihei;
  font-size: 30px;
  color: #051C56;
  line-height: 30px;
  margin: 0px;
  padding-top:80px;
}

.search-line {
  width:480px;
  margin:50px auto 0;
}


#search-button ,
#search-input {
  height: 42px;
}

.block-row {
  width:640px;
  margin:80px auto 40px;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 65px;
}


a.dashboard-block:hover{
  background:#369;
}
a.dashboard-block div{
  color:#fff;
}
.right-link-block{
  margin-left:80px;
}
