// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.click-disabled {
  pointer-events: none;
}


/* 搜索 copy: */
#search-button-text {

}

#record-number-info {
  font-family: STXihei;
  font-size: 16px;
  line-height: 20px;
}

/* 搜索公证居民: */
#dashboard-search-title {
  font-family: STXihei;
  font-size: 30px;
  color: #051C56;
  line-height: 30px;
  margin: 0px;
  padding-top:80px;
}

.search-line {
  width:480px;
  margin:50px auto 0;
}


#search-button ,
#search-input {
  height: 42px;
}

.block-row {
  width:640px;
  margin:80px auto 40px;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 65px;
}
.dashboard-block {
  display: inline-block;
  width: 280px;
  height: 282px;
  background: #7B94BA;
  box-shadow: 3px 3px 6px 0px rgba(130,130,130,0.50);
  border-radius: 7px;
}
a.dashboard-block,a.dashboard-block:active,a.dashboard-block:focus{
   color: #FFFFFF;
   padding-top:80px;
   text-decoration:none;
}
a.dashboard-block:hover{
  background:#369;
}
a.dashboard-block div{
  color:#fff;
}
.right-link-block{
  margin-left:80px;
}
