// Place all the styles related to the family_relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-family-form-wrap {
  overflow: hidden;
  display: block;
}

.form-wrap {
  overflow: hidden;
  display: block;
}

.form-with-border {
  border-bottom: 1px solid #ccc;
}

.button-submit {
  /* Rectangle 37: */
  background: #FFAB40;
  border-radius: 40px;
  /* 保存: */
  font-family: STXihei;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 8px;
  line-height: 16px;
}
