// Place all the styles related to the family_relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-family-form-wrap {
  overflow: hidden;
  display: block;
  select {
    @extend .form-control;
  }
}

.form-wrap {
  overflow: hidden;
  display: block;
}

.form-with-border {
  border-bottom: 1px solid #ccc;
}

.new-family-form-wrap .row {
  margin-top: 33px;
}

.button-submit {
  /* Rectangle 37: */
  background: #FFAB40;
  border-radius: 40px;
  /* 保存: */
  font-family: STXihei;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 8px;
  line-height: 16px;
}

div.family_relation_header {
  a.form-title:first-child {
    margin-left: 31px;
    margin-right: 61px;
  }
  a.current-title {
    border-bottom:2px solid #369;
  }
}


#family_relation_table {

  /* Rectangle 357: */
  background: #FAF9F9;
  border: 1px solid #979797;

  font-family: STHeiti;
  font-size: 16px;
  color: #212121;
  line-height: 16px;

  text-align: center;
  margin: 54px 15px;


  th {
    /* Rectangle 358: */
    background: #E0E0E0;
    border: 1px solid #979797;
    text-align: center;
    vertical-align: middle !important;
  }

  td {
    /* Rectangle 358 Copy 2: */
    border: 1px solid #979797;
    vertical-align: middle !important;
  }


    tr:nth-child(odd){
      background: #E8E8E8 !important;
    }
    tr:nth-child(even){
      background: #F9F9F9 !important;
    }

}