/* 上海市卢湾公证信息开放平台: */
.header-title {
  font-family: STXihei;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 30px;
  margin:0;
}

.header-icon {
  margin-right: 5px;
}


.user-header {
  height: 122px;
}
