.login_button {
  /* Rectangle 9 Copy: */
  background-image: linear-gradient(0deg, #2482D7 0%, #2E8FE3 9%, #40A3E6 100%);
  border-radius: 30px;
  /* 保存: */
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 10px;
  line-height: 17px;
}

body {
  p {
    color: #9B9B9B;
  }
}