.new_profile_form {

  height: 470px;
  background-color: #ffffff;
  margin-top: $new_profile_form_margin !important;

  @include horizontal_align(640px);
  @extend .form-horizontal;

  .form_inner {

    position: relative;
    margin-left: 59px;
    margin-right: 61px;

    hr {
      margin-bottom: 72.5px;
    }

    .new_profile_title {
      //position: absolute;

      padding-top: 26px;
      padding-bottom: 20.5px;

      width: 168px;
      height: 19px;
      font-size: 14px;
      color: #9b9b9b;
    }

    .input_container {

      padding-left: $new_profile_input_container_padding_left;
      padding-right : $new_profile_input_container_padding_right;


      .label_list {
        position: relative;
        display: inline-block;
        width: $new_profile_form_label_width;
        height: $new_profile_input_container_height;
        label {
          position: absolute;
          display: block;
          &:first-child {
            margin-top: 10px;
          }
          &:not(:first-child) {
            margin-bottom: 0px;
            bottom: 10px;
          }
        }
      }

      div.image {
        display: inline-block;
        img {
          margin-bottom: 22px;
        }
      }

      .input_list {
        display: inline-block;
        float: right;
        height: $new_profile_input_container_height;

        div {
          width: 250px;
          input {
            width: 100%;
            height: $new_profile_form_input_height;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #ababb0;
            display: inline-block;
          }

          &:not(:first-child) {
            margin-top: $new_profile_input_container_padding;
          }
        }

      }



      .button_list {
        margin-top: $new_profile_button_list_margin_top;
        @extend .row;

        .new_profile_button {
          width: 120px;
          height: 40px;
          border-radius: 30px;
          background-image: linear-gradient(to bottom, #d4d4d4, #c1c1c1 91%, #a8a8a8);
          @extend .btn;
          @extend .btn-default;

          &:not(:first-child) {
            margin-left: 93px;
          }
        }
     }
    }



    .form-group {


      div {
        display: inline-block;
        margin-left: 24px;
        width: 250px;
        height: 40px;
      }


    }





  }


}