.table-container {
  border: 1px solid #ccc;
}

#apply_context, #apply_sign, #reception_people, #notary_foreign_table_work_unit, #notary_foreign_table_comment, {
  width: 100%;
}

.notary-title {
    /* 公证申请表: */
    font-family: STKaiti-SC-Regular;
    font-size: 28px;
    color: #212121;
    line-height: 40px;
    margin-bottom: 12px;
}


div#foreign_table {
  .col-xs-2-long {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    border-left: 1px solid #ccc;
    @extend .col-xs-2;
  }
  .col-xs-10-long {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    @extend .col-xs-10;
  }
  div.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  div.col-xs-10 {

    div.row:first-child, div.row:last-child {
      margin-top: 25px;
    }

    div.row:last-child {
      margin-bottom: 25px;
    }

    div.row {
      margin-top: 26px;
    }

  }

  > div.row:not(:first-child) {
    border-top: 1px solid #ccc;
  }

  .notary_relation_container:not([style*="display: none"]) ~  .notary_relation_container:not([style*="display: none"]) {
    border-top: 1px solid #ccc;
  }

  div.big-row {
    overflow: hidden;
    div.col-xs-2 {
      border-right: 1px solid #ccc;
    }
  }

  div#notary_foreign_table_relation {
    @extend div.big-row;
  }


  div#notary_foreign_table_person {
    .col-xs-2-long {
      p {
        margin-top: 200px;
      }
    }
    @extend div.big-row;
  }

  div#notary_foreign_table_others {
    @extend div.big-row;
  }

  div#proxy_people{
    @extend div.big-row;
  }


  #work_unit, #comment {
    padding-left: 15px;
    padding-right: 15px;
  }

  div > div > p {
    margin: 50%;
  }


}

.print_pdf {
  /* Rectangle 37: */
  padding: 12px 12px;
  background: #849EE1;
  border-radius: 7px;
  /* 打印: */
  font-family: STXihei;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 8px;
  line-height: 16px;
  width: 121px;
  height: 41px;
  &:hover {
    background: #849EE1;
  }
  @extend .btn;
  @extend .btn-default;
}

.reserve_time {
  /* BG: */
  background: #F8FAFA !important;
  color: #1EBAD9 !important;
  border: 1px solid #1EBAD9 !important;
  border-radius: 3px;

  text-align: center;

  @extend .btn;
  @extend .btn-default;

}

.button_row {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
  @extend .row;
}

.print_pdf_red {
  background-color: #c9302c;
  border-color: #ac2925;
  padding: 12px 12px;
  @extend .print_pdf;

  &_margin {
    margin-left: 10px;
    @extend .print_pdf_red;
  }

  &:hover {
    background: #c9302c;
  }
}

.table_return_btn {
  height: 41px;
  @extend .btn;
  @extend .btn-default;
  @extend .btn-danger;
}
