.table-container {
  border: 1px solid #ccc;
}

#apply_context, #apply_sign, #reception_people, #notary_foreign_table_work_unit, #notary_foreign_table_comment, {
  width: 100%;
}

.notary-title {
    /* 公证申请表: */
    font-family: STKaiti-SC-Regular;
    font-size: 28px;
    color: #212121;
    line-height: 40px;
    margin-bottom: 12px;
}


div#foreign_table {
  .col-xs-2-long {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    border-left: 1px solid #ccc;
    @extend .col-xs-2;
  }
  .col-xs-10-long {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    @extend .col-xs-10;
  }
  div.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  div.col-xs-10 {

    div.row:first-child, div.row:last-child {
      margin-top: 25px;
    }

    div.row:last-child {
      margin-bottom: 25px;
    }

    div.row {
      margin-top: 26px;
    }

  }

  > div.row:not(:first-child) {
    border-top: 1px solid #ccc;
  }

  .notary_relation_container:nth-child(n + 3) {
    border-top: 1px solid #ccc;
  }

  div.big-row {
    overflow: hidden;
    div.col-xs-2 {
      border-right: 1px solid #ccc;
    }
  }

  div#notary_foreign_table_relation {
    @extend div.big-row;
  }


  div#notary_foreign_table_person {
    .col-xs-2-long {
      p {
        margin-top: 200px;
      }
    }
    @extend div.big-row;
  }

  div#notary_foreign_table_others {
    @extend div.big-row;
  }

  div#proxy_people{
    @extend div.big-row;
  }


  #work_unit, #comment {
    padding-left: 15px;
    padding-right: 15px;
  }

  div > div > p {
    margin: 50%;
  }


}


