// Place all the styles related to the notary_relateds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_notary_related {

  .remove-link-div {
    display: none;
  }

  .row-has-margin-top {
    margin: 42px 0 42px 0;
    @extend .row;
  }

  .has_testament {
    width: 30% !important;
  }

  .vertical-align-row {
    margin-bottom: 42px;
  }

  .radio,
  .checkbox {
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 10px;
  }

  .col-xs-3-img {
    margin-left: -23px;
    @extend .col-xs-3;
  }

  span.radio.radio-inline:not(:first-child) {
    margin-left: 29px;
  }
}

.col-xs-6-not {
  display: none;
  @extend .col-xs-6;
}

