// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-table-wrap {
  width: 739px;
  height: 615px;
  margin: 46px auto 0;
  /* Rectangle 202: */
  opacity: 0.6;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
}
