// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-table-wrap {
  width: 739px;
  height: 615px;
  margin: 46px auto 0;
  /* Rectangle 202: */
  opacity: 0.6;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
}

.long-input {
  /* Rectangle 28 Copy 2: */
  background: #EEF3F6;
  border: 1px solid #CCCCCC;
  box-shadow: inset 2px 2px 5px 0px #CBC4C4;
  border-radius: 5px;
}

/* Rectangle 37: */
.profile-submit {
  /* Rectangle 37: */
  background: #FFAB40;
  border-radius: 40px;
  /* 修改: */
  font-family: STXihei;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 8px;
  line-height: 16px;
}

.profile-submit-div {
  margin-top: 39px;
}

/*
.form-inputs .row {
  margin-top: 20px;
}
*/
