// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

abbr[title="required"] {
  display: none;
}

.search-table-wrap {
  width: 739px;
  height: 615px;
  margin: 46px auto 36px;
  /* Rectangle 202: */
  opacity: 0.6;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 3px;

  tr td {
    margin-right: 95px;
  }

  thead td {
    margin-right: 95px;
  }

  thead, tr > td {
    padding: 27px;
  }

  tr {

    border-bottom: 1px solid #CCCCCC;
  }

  .show-button {
    /* Rectangle 190 Copy 2: */
    background: #C4D4EB;
    box-shadow: 1px 1px 2px 0px rgba(147,141,141,0.50);
    border-radius: 3px;
    /* 查看: */
    font-family: HiraginoSansGB-W3;
    font-size: 12px;
    color: #1A0A60;
    line-height: 18px;
    width: 156px;
    height: 37px;
    text-align: center;
  }

  .new-profile-button {
    /* Rectangle 269: */
    background: #C4DAEB;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.26);
    border-radius: 3px;
    /* 创建新档案: */
    font-family: HiraginoSansGB-W3;
    font-size: 16px;
    color: #1A0A60;
    line-height: 24px;
    width: 138px;
    height: 49px;
    text-align: center;
  }

  .return-button {
    /* Rectangle 269: */
    background: #C5EBC4;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.26);
    border-radius: 3px;
    /* 返回: */
    font-family: HiraginoSansGB-W3;
    font-size: 16px;
    color: #1A0A60;
    line-height: 24px;
    width: 118px;
    height: 49px;
    text-align: center;
  }

  .empty-wrap {
    margin: 99px 87px 0;
    border-top: 1px solid #CCCCCC;
  }

  .empty-title {
    /* 未搜索到相关公证居民: */
    font-family: STXihei;
    font-size: 30px;
    color: #051C56;
    line-height: 30px;
    padding-top: 67px;
    margin-bottom: 144px;
    text-align: center;

  }


}

.long-input {
  /* Rectangle 28 Copy 2: */
  background: #EEF3F6;
  border: 1px solid #CCCCCC;
  box-shadow: inset 2px 2px 5px 0px #CBC4C4;
  border-radius: 5px;
}

/* Rectangle 37: */
.profile-submit {
  /* Rectangle 37: */
  background: #FFAB40;
  border-radius: 40px;
  /* 修改: */
  font-family: STXihei;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 8px;
  line-height: 16px;
}

.profile-submit-div {
  margin-top: 39px;
}

input[type="file"] {
  display: inline-block;
  width: 150px;
}

/*
.form-inputs .row {
  margin-top: 20px;
}
*/
