.edit-list-complete {
  display: none;
}

.property_related_form {
  padding-top: $property_subtitle_padding_top;
  padding-bottom: $property_subtitle_padding_bottom;
  margin-top: $main_title_margin_top;
  @include border_top;

  .form-inputs {
    & > div {

      @include border_bottom;

      margin-bottom: 30px;

      .links {
        a {
          width: 72px;
          height: 16px;
          font-size: 12px;
          color: #7eb63d;
          //margin: 0px 20px 0 20px;
        }
      }
    }
  }
}

.property_related_container {

  &:nth-child(n + 3) {
    margin-top: 39px;
  }

  .content_container {

    @extend .clearfix;

    & > div{
      float: left;

      &:first-child {
        width: $property_content_width;
        .long_string {
          display: inline-block;
          width: $property_long_string_width;
          margin-left: 15px;
        }

        & > div:not(:first-child) {
          margin-top: $property_line_space;
        }
      }

      &:last-child {
        margin-left: $property_image_margin_left;
        margin-right: $property_image_margin_right;

        & > a {
          display: block;
        }

        .upload_btn {
          @include file_upload($property_upload_btn_margin_top);
          height: 30px;
          border-radius: 2px;
          background-image: linear-gradient(to bottom, #ffffff, #d8d8d8);
          border: solid 1px #d4d4d4;
          padding: 7px 29px 7px 31px;

          font-size: 12px;
          color: #a8a8a8;
        }
      }
    }
  }
  hr {
    display: block;
    margin-top: $property_hr_margin_top;
    margin-bottom: $property_hr_margin_bottom;
  }
}
