// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Rectangle 242: */
.reservation-title {
  text-align: center;
  background: #DFE9F9;
  /* 公证办理预约: */
  font-family: STXihei;
  font-size: 30px;
  color: #051C56;
  line-height: 30px;
}

.reservation-table-wrap {
  width: 839px;
  height: 615px;
  margin: 46px auto 46px;
  /* Rectangle 202: */
  opacity: 0.6;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 3px;

  li[role="presentation"] {
    width: 141px;
    height: 46px;
    text-align: center;
  }

  nav.pagination {
    margin: 0px 200px !important;
  }

  .inner-table {
    margin: 0 70px;
  }

  th, td {
    padding: 17px 0 !important;
  }

  nav.pagination {

    span.page.gap, span.first, span.last {
      display: none;
    }

    span.prev, span.next {
      /* Rectangle 217 Copy: */
      background: #C4D4EB;
      box-shadow: 1px 1px 2px 0px rgba(147,141,141,0.50);
      border-radius: 6px;
      /* 上一页: */
      font-family: STHeiti;
      font-size: 14px;
      color: #0D0436;
      line-height: 14px;

      @extend .btn;
      @extend .btn-default;
    }

  }

}
