// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Rectangle 242: */
.reservation-title {
  text-align: center;
  background: #DFE9F9;
  /* 公证办理预约: */
  font-family: STXihei;
  font-size: 30px;
  color: #051C56;
  line-height: 30px;
}

.reservation-table-wrap {
  width: 839px;
  height: 615px;
  margin: 46px auto 46px;
  /* Rectangle 202: */
  opacity: 0.6;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 3px;

  th, td {
    padding: 17px 0 !important;
  }

  ul.pagination {
    li.last, li.first, li.disabled {
      display: none;
    }

  }

}
