
.show-calendar {
  left: 490px !important;
}

.dataTables_wrapper {
  div.dataTables_length, div.dataTables_info, div.dataTables_filter {
    display: none;
  }

  .register-link {
    width: auto !important;
    float: none !important;
    @extend .page-button-link;
  }


  @extend .reservation-table-wrap;
}

