.search_profile_container {
  @extend .dashboard_container;

  .show_profile_btn {
    width: 70px;
    height: 28px;
    border-radius: 25px;
    border: solid 1px #65b30f;
    vertical-align: middle !important;
    @extend .btn;
    @extend .btn-default;
  }

  .empty_title {
    height: 24px;
    font-size: 18px;
    color: #9b9b9b;
    margin-top: 87px !important;
    margin-bottom: 42px !important;
    text-align: center;
    @include horizontal_align(144px);
  }

  .new_profile_div {
    @include horizontal_align(100px);
  }

  .new_profile_button {
    height: 28px;
    border-radius: 25px;
    border: solid 1px #65b30f;
    padding: 4px 24px 8px 25px ;
    @extend .btn;
    @extend .btn-default;
  }
}