
.sidebar {

  width: $sidebar_width;
  height: 100vh;
  position: fixed;
  color:#fff;
  background-color: $sidebar_background_color;

  float: left;


}

.sidebar_container {

  margin-left: $sidebar_margin_left;
  margin-right: $sidebar_margin_right;

  font-size: 14px;
  line-height: 3.4;
  letter-spacing: 1px;
  color: #6f7781;
  color: var(--battleship-grey);

  div:first-child {
    @include title_line($sidebar_title_line_padding_bottom);
  }

  img {
    margin-right: $sidebar_title_image_space;
  }

  p {
    display: inline-block;
    width: 42px;
    height: $sidebar_title_height;
    font-size: 14px;
    color: #747781;
    margin-top: $main_title_margin_top;
  }

  hr {
    border: solid 1px $main_hr_color;
  }

  dl {
    margin-top: $sidebar_title_margin_top;

    dt {
      font-size: 14px;
      letter-spacing: 1px;
      color: #4a90e2;
      margin-bottom: $sidebar_dt_space;
    }

    dd {
      margin-left: 30px;
      margin-bottom: $sidebar_dd_space;
      a {
        img {
          margin-right: $sidebar_image_space;
        }
      }
    }
  }

}


.sidebar-title {
  /* 公证信息开放平台: */
  font-family: STHeitiSC-Light;
  font-size: 20.59px;
  color: #EDE5E5;
  line-height: 22px;
  margin:0;
}


.sidebar-username {
  /* Type something: */
  font-family: STXihei;
  font-size: 14px;
  color: #EBE8E8;
  line-height: 14px;
}


