
.sidebar {

  width: $sidebar_width;
  height: 100vh;
  position: fixed;
  color:#fff;
  background-color: $sidebar_background_color;

  float: left;


}

.sidebar_container {

  margin-left: $sidebar_margin_left;
  margin-right: $sidebar_margin_right;
  position: relative;

  font-size: 14px;
  line-height: 3.4;
  letter-spacing: 1px;
  color: #6f7781;
  color: var(--battleship-grey);

  .sidebar-top {
    margin-top: 32.7px;
    img {
      margin-right: 21.7px;
    }
    p {
      display: inline-block;
      width: 42px;
      height: 19px;
      font-size: 14px;
      color: #747781;
    }
  }

  hr {
    border: solid 1px #979797;
  }

  dt {
    font-size: 14px;
    line-height: 3.4;
    letter-spacing: 1px;
    color: #4a90e2;
    margin-bottom: $sidebar_dt_space;
  }

  dd {
    margin-left: 30px;
    margin-bottom: $sidebar_dd_space;
    a {
      img {
        margin-right: $sidebar_image_space;
      }
    }
  }
}


.sidebar-title {
  /* 公证信息开放平台: */
  font-family: STHeitiSC-Light;
  font-size: 20.59px;
  color: #EDE5E5;
  line-height: 22px;
  margin:0;
}


.sidebar-username {
  /* Type something: */
  font-family: STXihei;
  font-size: 14px;
  color: #EBE8E8;
  line-height: 14px;
}


