.staff-table-wrap {

  @extend .reservation-table-wrap;



  nav.pagination {
    margin: 0 300px !important;
  }

}

.staff-form-wrap {
    margin: 100px auto 0;
    width: 480px;

    .inner-form {
      background: #fff;
      padding: 50px 80px;
      border-radius: 8px;
      box-shadow: 2px 2px 6px #ccc;

      label.control-label {
        vertical-align: middle !important;
      }

      .row {
        margin-top: 39px;
      }

    }

}
