.staff-container {

  .staff_title {
    height: 31px;
    font-size: 24px;
    color: #6f6f6f;
    @include horizontal_align(144px);
    margin-top: 74px;
  }



 .staff-table-wrap {

    height: $staff_table_height;
    background-color: #ffffff;
    border: solid 1px #ababb0;
    @include horizontal_align($staff_table_width);

    nav.pagination {
      margin: 0 300px !important;
    }

  }

}


.staff-form-wrap {
    margin: 100px auto 0;
    width: 480px;

    .inner-form {
      background: #fff;
      padding: 50px 80px;
      border-radius: 8px;
      box-shadow: 2px 2px 6px #ccc;

      label {
        display: inline-block !important;
        vertical-align: middle !important;
      }

      input:not([type="submit"]) {
        width: 100%;
      }

      .row {
        margin-top: 39px;
      }

    }

}
