/***login **/
.container-not-login{
  margin: 140px auto 0;
  width: 480px;
}

.login-page-title{
  /* 藏宝湾: */
  font-family: PingFangSC-Regular;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 15px;
  line-height: 49px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.50);
  margin-bottom: 96px;
}



.form-actions{
  width:100px;
  margin:20px auto;
}
/***nav**/
.top-nav{
  height:50px;
}
.top-nav-link {
  float: right;
  padding: 0 10px;
  line-height: 32px;
  color: #fff;
}

.top-nav-link:visited {
  color: #fff !important;
}

.top-nav a:hover {
  background:none;
  text-decoration:none;
  color:#f60;
}

.top-nav-link:hover{
  background:none;
  text-decoration:none;
  color:#f60;
}
.top-nav-link span{
  margin-right:4px;
}
.user-link{
}
.navbar-static-top{
  margin:0;
}

.user-box{
  width:168px;
  margin:50px auto 0;
  display:block;
  border:1px solid #999;
  border-radius:6px;
}

.user-box-name{
  padding:0 10px;
  display:block;
  line-height:38px;
}
.span-right-4{
  margin-right:4px;
}
.user-box-name .caret{
  margin-top:18px;
}

.sidebar dd a.current,.sidebar dd a.current:hover{
  background:rgba(255,255,255,0.3);
  color:#333;
  text-decoration:none;
}
.sidebar dd a:hover{
  background:rgba(255,255,255,0.1);
  color:#333;
  text-decoration:none;
}
.main{
  margin-left: $sidebar_width;
  padding-left: $main_padding_left;
  padding-right: $main_padding_right;

  .main_title {
    margin-top: $main_title_margin_top;
    height:32px;
  }

  hr {
    border: solid 1px $main_hr_color;
  }



  .save_btn {
    width: 120.8px;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #2482d7, #2e8fe3 9%, #40a3e6);
    margin-left: $main_btn_space;
    @extend .btn;
    @extend .btn-default;


    font-size: 14px;
    letter-spacing: 10px;
    color: #ffffff;

  }

  .return_btn {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #d4d4d4, #c1c1c1 91%, #a8a8a8);
    @extend .btn;
    @extend .btn-default;



    font-size: 14px;
    letter-spacing: 10px;
    color: #ffffff;
  }


}

.reset-dom{
  margin:0;
  margin-top: 28px;
  padding:0;
  /* 个人档案: */
  font-family: STHeiti;
  font-size: 24px;
  color: #3D3A3A;
  line-height: 24px;
}
/***form list**/


.form-title {
  float: left;
  line-height: 30px;
  font-size: 16px;
}

.current-title {
    border-bottom:2px solid #369;
}

.form-block{
  border-bottom:1px solid #ccc;
  padding-bottom:20px;
  margin-bottom:20px;
}
